{% load staticfiles %}
<!-- temporarily -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="{% static 'js/file-upload-helper.js' %}"></script>

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                <input type="file" id="inputFile">
            </div>
            <div class="col-md-2">
                <a href="javascript:void(0)" class="btn btn-raised btn-primary">Upload</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron col-md-10 col-md-offset-1" id="inputFileResult"></div>
    </div>
</div>
