{% extends "base.html" %}
{% load staticfiles %}

{% block title %}File Upload{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                <input type="file" id="inputFile">
            </div>
            <div class="col-md-2">
                <button id="fileUploadSubmit" class="btn btn-raised btn-primary">Upload</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron col-md-10 col-md-offset-1" id="inputFileResult"></div>
    </div>
</div>

{% endblock content %}


{% block javascript %}

{{ block.super }}
<script src="{% static 'js/file-upload-helper.js' %}"></script>

{% endblock javascript %}
