.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f44336;
  border-color: #eed3d7;
  color: #fff; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

#inputFileResult {
  margin-top: 30px;
  display: none;
  max-height: 400px;
  overflow-y: scroll; }

.bootstrap-growl button {
  margin-left: 30px; }

.navbar .navbar-brand {
  height: inherit; }

.navbar .navbar-nav > li > a {
  padding-top: .425rem;
  padding-bottom: .425rem; }

.m-b {
  margin-bottom: 65px; }

body .container .movie-container {
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }

.movie-poster img {
  max-width: 100%; }

.movie-title {
  margin-top: 5px;
  text-align: center; }
